[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = scarthgap
[submodule "meta-arm"]
	path = meta-arm
	url = https://git.yoctoproject.org/meta-arm.git
	branch = scarthgap
[submodule "meta-tensorflow"]
	path = meta-tensorflow
	url = git://git.yoctoproject.org/meta-tensorflow
	branch = scarthgap
[submodule "meta-ros"]
	path = meta-ros
	url = https://github.com/ros/meta-ros.git
	branch = scarthgap
[submodule "layers/meta-onnxruntime"]
	path = meta-onnxruntime
	url = https://github.com/NobuoTsukamoto/meta-onnxruntime.git
	branch = scarthgap
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = scarthgap
