[Unit]
Description=KnowledgeOS Banner Setup
DefaultDependencies=no
After=local-fs.target
Before=getty.target

[Service]
Type=oneshot
ExecStart=/usr/bin/loading-anim.sh
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target