[Unit]
Description=My Custom Login Background Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/myscript.sh
Restart=on-failure
StandardOutput=journal

[Install]
WantedBy=multi-user.target
